#eeveeHP{
	padding: 2px;
	margin: 0px auto;
	flex-direction: row;
	justify-content: center;
	column-gap: 5px;
	align-items: center;
	text-align: center;
	display: flex;
}

#opponentHP{
	padding: 2px;
	margin: 0px;
	flex-direction: row;
	justify-content: center;
	column-gap: 5px;
	align-items: center;
	text-align: center;
	display: flex;
}

#column {
	padding: 10px;
	margin: 0px auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}

#chatui{
	position: relative;
}

#app {
	position: relative;
}

#infotext{
	position: relative;
	font-family: 'Spartan', sans-serif;
	color: #CED4DA;
	text-align: center;
	margin-bottom: 5px;

}

#controls {
	position: relative;
	flex-wrap: row wrap;
	align-self: center;
	margin: auto;
}


button {
	margin-top: 5px;
	text-align: center;
	font-family: 'Spartan', sans-serif;
	padding: 4px;
	display: inline;
	margin-bottom: 8px;
	margin-left: 8px;
}

input {
	width: 500px;
	padding: 6px;
	margin-left: 8px;
    resize: none;
}

progress{
	width: 400px;
}

p{
	font-family: 'Spartan', sans-serif;
	color: #CED4DA;
}