
#p5canvas {
  padding: 20px;
  padding-top: 2.5%;
	margin: 0px auto;
	max-width: 100%;
	text-align: center;
}

#toolbar{
	margin: 0px auto;
	max-width: 100%;
	text-align: center;
}

canvas {
	width: 500px;
	height: 500px;
	box-shadow: 0px 0px 0px 10px #6C757D;
}

button{
	font-family: 'Spartan', sans-serif;
}